<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="stylesheets/datepicker.css">
   <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body ng-app="bt1">
<div class="container" ng-controller="MainCtrl">
<p style = "color:red">{{text}}</p>
<ul class="nav nav-pills">
  <li role="presentation" class="active" id="tab1" ng-click="changeState('tab1')"><a href="#/flightschedule">Lịch bay</a></li>
  <li role="presentation" class="" id="tab2" ><a href="#/flight" ng-click="changeState('tab2')">Chuyến bay</a></li>
  <li role="presentation" class="" id="tab3"><a href="#/ticketmanage"  ng-click="changeState('tab3')">Quản lý đặt chỗ</a></li>
</ul>
  <ui-view></ui-view>
</div>
</body>
</html>