<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flight booking</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="javascripts/angularApp.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="stylesheets/datepicker.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <script type="text/javascript" src="javascripts/scripts.js"></script>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link type="text/css" rel= "stylesheet" href = "stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<!-- <body ng-app="bt1">
<div class="container" ng-controller="MainCtrl">
<p style = "color:red">{{text}}</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th>MSSV</th>
        <th>Họ và tên</th>
        <th>Ngày sinh</th>
        <th>Giới tính</th>
        <th>Địa chỉ</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in listStudents" id = {{student.id}}>
        <td class="id">{{student.id}}</td>
        <td class="name">{{student.name}}</td>
        <td class="birthday">{{student.birthday}}</td>
        <td class="gender">{{student.gender}}</td>
        <td class="address">{{student.address}}</td>   
        <td align="center"> <button style="background:blue; color:white" type="button" class="btn btn-default" ng-click="fill(student.id)" data-toggle="modal" data-target="#myModal">Edit</button>
        <button style="background:red; color:white" type="button" class="btn btn-default" ng-click="delete(student.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button style="background:green; color:white" type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="fillInsert()">Insert</button>
  
         <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label >MSSV</label>
                  <input class="form-control" id="id" type="text">
                  </div>
               <div class="form-group">
                  <label >Họ và tên</label>
                  <input class="form-control" id="name" type="text">
                  </div>
                    <div class="form-group">
                  <label >Ngày sinh</label>
                  <input class="form-control" id="birthday" type="text">
                  </div>
                    <div class="form-group">
                 <label >Giới tính</label>
                  <input class="form-control" id="gender" type="text">
                  </div>
                   <div class="form-group">
                   <label >Địa chỉ</label>
                  <input class="form-control" id="address" type="text">
                  </div>
              </div>
              <div class="modal-footer">
               <button ng-show = "isUpdate()" style="background:blue; color:white" type="button" class="btn btn-default" data-dismiss="modal" ng-click="update(sid)">Save</button>
               <button ng-hide = "isUpdate()" style="background:blue; color:white" type="button" class="btn btn-default" data-dismiss="modal" ng-click="insert()">Insert</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
</div>
</body>  -->

<body ng-app="bt1">
  <div class="header">
    <img id="banner" src="images/logo_vna-mobile.png">
    <button type="button" class="btn btn-primary booking_btn" onclick="booking_display()">ĐẶT VÉ TRỰC TUYẾN</button>
  </div>
  <div id="mid"></div>
  <div id="booking_banner" ng-controller="MainCtrl">
      <form id="booking_form">
        <button type="button" class="close" data-dismiss="modal" onclick="close_form()">&times;</button>
        <button type="button" class="btn btn-default btn_in_form" id="khuhoi" onclick="change_type(0)">Khứ hồi</button>
        <button type="button" class="btn btn-default btn_in_form" id="motchieu" onclick="change_type(1)">Một chiều</button>

        <div style="margin-top: 10px; margin-left: 20px;">
            <div class="dropdown pull-left">
              <input type="text" class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" placeholder="Điểm khởi hành" readonly>
              <span class="caret"></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-repeat="student in listStudents" ng-click="chooseSanBayDi(student)">{{student.TenSanBay}}</a></li>
              </ul>
            </div> 

            <img src="images/arrow2.png" id="arrow">
            <div class="dropdown pull-left">
              <input type="text" class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown" placeholder="Điểm đến" readonly>
              <span class="caret"></span>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-repeat="student in listDesStudents" ng-click="display_name(student, 2)">{{student.TenSanBay}}</a></li>
              </ul>
            </div> 
              <input  type="text" placeholder="Ngày đi"  id="example1" style="height:34px; margin-left: 20px;">
              <input  type="text" placeholder="Ngày về"  id="example2" style="height:34px; margin-left: 20px;">

              <div style="display: block;">
                <input  type="number" name="test" placeholder="Số lượng"  style="height:34px; width: 93px; display:inline-block; margin-top: 20px; margin-left: 60px;" min = 1  oninput="validity.valid||(value='');">

                <div class="dropdown pull-left">
                  <input type="text" class="btn btn-default dropdown-toggle" id="menu3" data-toggle="dropdown" placeholder="Hạng vé" readonly style="display:inline; margin-top: 20px; width: 138px;">
                  <span class="caret" style=" margin-top: 20px;"></span>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click = "display_type('Y')">Y (Phổ thông)</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click = "display_type('C')">C (Thương gia)</a></li>
                  </ul>
                </div> 
              </div>

              <br>
              <br>
              <br>
              <button type="button" class="btn btn-warning" style="float: right; margin-right: 20px;" ng-click = "find_flights()">TÌM VÉ MÁY BAY</button>
        </div>
      </form>
    </div>

  <script src="javascripts/jquery-1.9.1.min.js"></script>
    <script src="javascripts/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
                
                $('#example1').datepicker({
                    format: "yyyy/mm/dd"
                });  
              $('#example2').datepicker({
                    format: "yyyy/mm/dd"
                });
            });
    </script>

</body>
</html>